@import "tailwindcss";
.snowfall {
  position: fixed;    /* เปลี่ยนจาก absolute → fixed */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;      /* สูงพอ ไม่ไปซ่อนหลัง Banner */
}

.snowflake {
  position: absolute;
  top: -10px;
  color: #ffffff;
  font-size: 0.8rem;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(110vh);
  }
}
